<?xml version="1.0" encoding="UTF-8" standalone="no"?><Servers>
 <server>
  <name>something</name>
  <port>port</port>
 </server>
 <server><name>foo</name><port>12345</port></server><users><username>foo</username><password>12345</password><firstname>Sony</firstname><lastname>Kapoor</lastname><address>Attapur</address><city>Hyderabad</city><state>Andhra Pradesh</state><zipcode>500048</zipcode><telephone>9490178578</telephone></users></Servers>